@import url(http://fonts.googleapis.com/css?family=Arvo|Luckiest+Guy);

$primary-color: #435743;
$light-color: #b1e9b7;
$light-grey: #fff;

h1,h2,h3,h4,h5,h6{
    font-family: 'Luckiest Guy';
}

body{
    font-family: 'Arvo', serif;
    background: #e6e8f5;
}

.site-title{
    font-family: 'Luckiest Guy';
    color: $primary-color;
}

.menu-container{
    ul.menu, ul.links{
        li{
            a{
                color: $primary-color;
            }
        }
    }
}

.region{
    &.left-column{
        h3{
            color: $primary-color;
        }
    }
}

.footer-container{
    text-align: center;
}
