body{
    padding: 0;
    margin: 0;
    background: #ebebeb url('../img/background.png') repeat top left;
}

.left{
    float: left;
}

.full-width{
    width: 100%;
}

.three-fourths{
    width: 75%;
}

.half{
    width: 50%;
}

.one-fourth{
    width: 25%;
}

.site-container{
  
    .container{
        position: relative;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        .inner-container{
            padding: 1em;
            margin-bottom: 1em;
            &.title{
                padding-top: 0;
                padding-bottom: 0;
                h1{
                    margin: 0;
                }
            }
            &.background{
                background: #fff;
                background: rgba(255,255,255,.5);              
            }
            &.shadow{
                border: 1px solid #ccc;
                border-width: 0 0 5px 0;          
            }
        }
    }
    
    .header-wrapper{
        width: 100%;
        .site-title{
            width: 100%;
        }
        .menu-wrapper{
            width: 100%;
            ul.menu{
                margin: 0 0 0 1em;
                padding: 0;
                li{
                    display: inline-block;
                    padding: .5em 1em .5em 0;
                    margin-right: 1em;
                    border-right: 1px solid #ccc;
                    &:last-of-type{
                        margin-right: 0;
                        border: 0;
                    }
                    a{
                      display: block;
                      width: 100%;
                      height: 100%;
                    }
                }
            }
        }
    }
    
    .content-container{

    }
    
    .tab-container{
        margin: 0 1em 1em 1em;
        ul.tabs{
            padding: 0;
            margin: 1em 0 0 0;
            li{
                display: inline-block;
                margin-right: .5em;
                &:last-of-type{
                    margin: 0;
                }
            }
        }
    }
    
    .featured-photo{
      position: relative;
      img{
          width: 100%;
      }
      .label{
          position: absolute;
          bottom: .5em;
          left: 0;
          padding: .5em 1em;
          background: #444;
          background: rgba(0,0,0,.75);
          color: #fff;
      }
    }
    
    .main-content{
        .content{
            padding-left: 1em;
            p{
              &:first-of-type{
                margin-top: 0;
              }
            }
        }
    }
    
    .footer-container{
        text-align: center;
    }
    
    .region{
        &.left-column{
            .block{
                position: relative;
            }
            ul.photo-categories{
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    background: #fff;
                    background: rgba(255,255,255,.8);
                    border: 1px solid #000;
                    border-color: rgba(0,0,0,.6);
                    padding: .25em;
                    margin-bottom: 1em;
                    &:last-of-type{
                        margin: 0;
                    }
                    img{
                        width: 100%;
                    }
                    .label{
                        position: absolute;
                        bottom: 0;
                        margin: 0;
                        background: #000;
                        background: rgba(0,0,0,.8);
                        width: 100%;
                        padding: .5em 0;
                        a{
                            color: #fff;
                            text-decoration: none;
                            padding: 0 .5em;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
}

// clearfix
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
